{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": [
      0
    ],
    "space-before-function-paren": [
      0
    ],
    "singleValue": true
  }
}